@charset "UTF-8";

body{
    background-color: white;
    margin: 0px;
    font-family: 'Comforter', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

    min-height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    
    
}

header{
    background-color: #C2C2C2;
    padding: 5px 0px 5px 0px;
    
}

header > nav {
    padding-top: 30px;
}

header > nav > a{
    color: black ;
    padding-right: 20px;
    text-decoration-line: none;
}

main{
    background-color: #F3F3F3;
    padding-bottom: 20px;
}

main > img{
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 50%;
}

main > div > h2{
    padding-left: 20px;
}

main#main2{
    background-color: white;
    padding-bottom: 20px;
    padding-top: 88px;
}

footer{
    background-color: #C2C2C2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: auto;
    
}

footer > a{
    color: black;  
    background-color: rgb(238, 230, 230);
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    text-decoration-line: none;
}

footer > nav img{
    padding-left: 20px;
}

h1{
    padding-left: 20px;
}

ol{
    padding: 0px;
}

ul{
    padding: 0px;
}

p{
    padding-left: 20px;
    padding-right: 50px;
    max-width: 400px;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
    
    background-color: #C2C2C2;
    margin: 8px;
    border-radius: 10px;
    height: 100px;
    padding: 7px 7px 10px 7px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.flex5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.flex6{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}